/* || General setup */

html, body, ul {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-size: 0.5em;
  background-color: black;
  text-align: center;
}

body {
  width: 70vw;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: gray;
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  flex: 1;
  
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
  
}

article {
  flex: 4;
  color: #333;
  text-align: center;
  height: 100wh;
}

.written {
  text-align: right;
  margin-right: 4em;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: gray;
  text-align: center;
}

aside li {
  padding-bottom: 10px;
  list-style: none;
}

aside li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: 0.5em;
  color: #333;
}
